services:
  - type: web
    name: mern-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
