
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
}
header{
  background-color: #fff;
}
header .container{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

header a{
  text-decoration: none;
  color: #333;
}
.pages{
  max-width: 1400px;
  margin: 0 auto;
  padding:  20px;
}
.home{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details{
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: 20px auto;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.workout-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--primary);
}
.workout-details p{
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}
.workout-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;  
  padding: 8px;
  border-radius: 50%;
  color: #333;
}
label, input{
  display: block;
}
input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  form button{
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
  }
  form button:hover{
    background-color: #178f6c;
  }
  div.error{
    padding: 10px;
    background-color: #ffefef;
    border: 1px solid var(--error);
    border-radius: 4px;
    color: var(--error);
    margin: 20px 0;
  } 
  input.error{
    border: 1px solid var(--error);
    color: #e7195a;
  }
  nav{
    display: flex;
    align-items: center;
  }
  nav a{
    margin-left: 20px;
    font-weight: 500;
  }
  nav button{
    background-color: #fff;
    border: 2px solid var(--primary);
    color: #333;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Poppins";
    margin-left: 12px;
  }
  form.signup, form.login{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
